{{ 'component-store.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    iframe {
      width: 100vw;
    }

    p {
      font-size: 1.6rem;
      line-height: 2.4rem;

      margin: 0;
    }

    @media only screen and (min-width: 750px) and (max-width: 1727px) {
    p {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

     iframe {
      width: 33vw;
      height: 30vw;
    }

  }

  @media only screen and (min-width: 1728px) and (max-width: 1919px) {
    p {
      font-size: 1.9rem;
      line-height: 2.8rem;
    }
     iframe {
      width: 32vw;
      height: 30vw;
    }
  }

  @media only screen and (min-width: 1920px) {
    p {
      font-size: 2.1rem;
      line-height: 3.2rem;
    }
     iframe {
      width: 32vw;
      height: 30vw;
    }
  }

    .day-time-schedule {
      display: flex;
      gap: 2rem;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}">
  <div class="page-width">
    {% comment %}--- CORCAGNANO ---{% endcomment %}
    <div class="store__grid grid grid--gapless grid--1-col grid--1-col-tablet grid--2-col-desktop location-container">
      <div class="store__media-item store__media-item--medium store__media-item--top grid__item">
        <div class="store__media store__media--adapt global-media-settings background-transparent">
          <img
            src="https://cdn.shopify.com/s/files/1/0709/8544/9707/files/Frati_Website_Contatti_Sedi_Corcagnano-01.webp?v=1762875051"
            alt="Corcagnano"
            height="500"
            width="800"
            loading="lazy"
          >
        </div>
      </div>
      <div class="store__text-item grid__item">
        <div class="store__content store__content--top store__content--desktop-left store__content--mobile-left store__content--adapt content-container background-transparent">
          <h3 class="store__heading inline-richtext h3">Corcagnano</h3>
          <h4 class="h4" style="margin: 2rem 0">Panificio, pasticceria, caffetteria, pranzi</h4>
          <div style="display: flex; gap: 2rem; margin-bottom: 1rem;">
            <p style="min-width: 10rem;">{{ section.settings.address_label }}</p>
            <p>Str. Langhirano, 379, 43124 Parma PR</p>
          </div>
          <div style="display: flex; gap: 2rem; margin-bottom: 1rem;">
            <p style="min-width: 10rem;">{{ section.settings.phone_label }}</p>
            <p>+39 0521 183 0387</p>
          </div>

          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.monday_label }}</p>
            <p class="day-time-schedule__time">5:30 - 20:00</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.tuesday_label }}</p>
            <p class="day-time-schedule__time">5:30 - 20:00</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.wednesday_label }}</p>
            <p class="day-time-schedule__time">5:30 - 20:00</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.thursday_label }}</p>
            <p class="day-time-schedule__time">5:30 - 20:00</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.friday_label }}</p>
            <p class="day-time-schedule__time">5:30 - 20:00</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.saturday_label }}</p>
            <p class="day-time-schedule__time">5:30 - 20:00</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.sunday_label }}</p>
            <p class="day-time-schedule__time">5:30 - 13:30</p>
          </div>
          <div style="display: flex; gap: 2rem; margin-top: 2rem; width: 100%">
            <h4 class="h4" style="margin-top: 0; margin-bottom: 0;">Indicazioni</h4>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2834.5924648090786!2d10.30455367618367!3d44.72792828226184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47806cdd0ac75a53%3A0xde200829fc021e57!2sStr.%20Langhirano%2C%20379%2C%2043124%20Parma%20PR!5e0!3m2!1sit!2sit!4v1771442819214!5m2!1sit!2sit"
              width="405"
              height="300"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
              title="Mappa Corcagnano"
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    {% comment %}--- FELINO ---{% endcomment %}
    <div class="store__grid grid grid--gapless grid--1-col grid--1-col-tablet grid--2-col-desktop location-container">
      <div class="store__media-item store__media-item--medium store__media-item--top grid__item">
        <div class="store__media store__media--adapt global-media-settings background-transparent">
          <img
            src="https://cdn.shopify.com/s/files/1/0709/8544/9707/files/Frati_Website_Contatti_Sedi_Felino-01.webp?v=1762875075"
            alt="Felino"
            width="800"
            height="500"
            loading="lazy"
          >
        </div>
      </div>
      <div class="store__text-item grid__item">
        <div class="store__content store__content--top store__content--desktop-left store__content--mobile-left store__content--adapt content-container background-transparent">
          <h3 class="store__heading inline-richtext h3">Felino</h3>
          <h4 class="h4" style="margin: 2rem 0">Gastronomia, pasta fresca, panificio, caffetteria, cucina</h4>
          <div style="display: flex; gap: 2rem; margin-bottom: 1rem;">
            <p style="min-width: 10rem;">{{ section.settings.address_label }}</p>
            <p>Via Calestano 68, 43035 Felino Parma</p>
          </div>
          <div style="display: flex; gap: 2rem; margin-bottom: 1rem;">
            <p style="min-width: 10rem;">{{ section.settings.phone_label }}</p>
            <p>+39 0521 081270</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.monday_label }}</p>
            <p class="day-time-schedule__time">6:00 - 20:30</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.tuesday_label }}</p>
            <p class="day-time-schedule__time">6:00 - 20:30</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.wednesday_label }}</p>
            <p class="day-time-schedule__time">6:00 - 20:30</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.thursday_label }}</p>
            <p class="day-time-schedule__time">6:00 - 20:30</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.friday_label }}</p>
            <p class="day-time-schedule__time">6:00 - 20:30</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.saturday_label }}</p>
            <p class="day-time-schedule__time">6:00 - 20:30</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.sunday_label }}</p>
            <p class="day-time-schedule__time">6:00 - 13:00</p>
          </div>
          <div style="display: flex; gap: 2rem; margin-top: 2rem; width: 100%">
            <h4 class="h4" style="margin-top: 0; margin-bottom: 0;">Indicazioni</h4>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2836.0328814865693!2d10.226854487841953!3d44.698527609620996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47807073bcf93edd%3A0x5f3f72bb3c96e5c4!2sVia%20Calestano%2C%2068%2C%2043035%20Felino%20PR!5e0!3m2!1sit!2sit!4v1771444837510!5m2!1sit!2sit"
              width="405"
              height="300"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
              title="Mappa Felino"
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    {% comment %}--- FOGNANO ---{% endcomment %}
    <div class="store__grid grid grid--gapless grid--1-col grid--1-col-tablet grid--2-col-desktop location-container">
      <div class="store__media-item store__media-item--medium store__media-item--top grid__item">
        <div class="store__media store__media--adapt global-media-settings background-transparent">
          <img
            src="https://cdn.shopify.com/s/files/1/0709/8544/9707/files/Frati_Website_Contatti_Sedi_Fognano-02.webp?v=1762440736"
            alt="Fognano"
            width="800"
            height="500"
            loading="lazy"
          >
        </div>
      </div>
      <div class="store__text-item grid__item">
        <div class="store__content store__content--top store__content--desktop-left store__content--mobile-left store__content--adapt content-container background-transparent">
          <h3 class="store__heading inline-richtext h3">Fognano</h3>
          <h4 class="h4" style="margin: 2rem 0">Panificio, pasta fresca</h4>
          <div style="display: flex; gap: 2rem; margin-bottom: 1rem;">
            <p style="min-width: 10rem;">{{ section.settings.address_label }}</p>
            <p>Via Cremonese 61, Parma</p>
          </div>
          <div style="display: flex; gap: 2rem; margin-bottom: 1rem;">
            <p style="min-width: 10rem;">{{ section.settings.phone_label }}</p>
            <p>+39 331 820 6731</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.monday_label }}</p>
            <p class="day-time-schedule__time">8:00 - 13:00 / 15:30 - 19:30</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.tuesday_label }}</p>
            <p class="day-time-schedule__time">8:00 - 13:00 / 15:30 - 19:30</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.wednesday_label }}</p>
            <p class="day-time-schedule__time">8:00 - 13:00 / 15:30 - 19:30</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.thursday_label }}</p>
            <p class="day-time-schedule__time">8:00 - 13:00 / 15:30 - 19:30</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.friday_label }}</p>
            <p class="day-time-schedule__time">8:00 - 13:00 / 15:30 - 19:30</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.saturday_label }}</p>
            <p class="day-time-schedule__time">8:00 - 13:00 / 15:30 - 19:30</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.sunday_label }}</p>
            <p class="day-time-schedule__time">Chiuso</p>
          </div>
          <div style="display: flex; gap: 2rem; margin-top: 2rem; width: 100%">
            <h4 class="h4" style="margin-top: 0; margin-bottom: 0;">Indicazioni</h4>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1414.9577565492839!2d10.2814746671135!3d44.82328581240383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47806b9146d5417f%3A0xeb655d7582e20d92!2sPanificio%20Frati%20Fognano!5e0!3m2!1sit!2sit!4v1771445522591!5m2!1sit!2sit"
              width="405"
              height="300"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
              title="Mappa Fognano"
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    {% comment %}--- MARZOLARA ---{% endcomment %}
    <div class="store__grid grid grid--gapless grid--1-col grid--1-col-tablet grid--2-col-desktop location-container">
      <div class="store__media-item store__media-item--medium store__media-item--top grid__item">
        <div class="store__media store__media--adapt global-media-settings background-transparent">
          <img
            src="https://cdn.shopify.com/s/files/1/0709/8544/9707/files/Frati_Website_Contatti_Sedi_Marzolara-01.webp?v=1762875107"
            alt="Marzolara"
            width="800"
            height="500"
            loading="lazy"
          >
        </div>
      </div>
      <div class="store__text-item grid__item">
        <div class="store__content store__content--top store__content--desktop-left store__content--mobile-left store__content--adapt content-container background-transparent">
          <h3 class="store__heading inline-richtext h3">Marzolara</h3>
          <h4 class="h4" style="margin: 2rem 0">Panificio, pasticceria, caffetteria</h4>
          <div style="display: flex; gap: 2rem; margin-bottom: 1rem;">
            <p style="min-width: 10rem;">{{ section.settings.address_label }}</p>
            <p>Via Giovanni Battilochi 91, Marzolara Parma</p>
          </div>
          <div style="display: flex; gap: 2rem; margin-bottom: 1rem;">
            <p style="min-width: 10rem;">{{ section.settings.phone_label }}</p>
            <p>+39 0525 57199</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.monday_label }}</p>
            <p class="day-time-schedule__time">6:00 - 19:00</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.tuesday_label }}</p>
            <p class="day-time-schedule__time">6:00 - 19:00</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.wednesday_label }}</p>
            <p class="day-time-schedule__time">6:00 - 19:00</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.thursday_label }}</p>
            <p class="day-time-schedule__time">6:00 - 13:00</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.friday_label }}</p>
            <p class="day-time-schedule__time">6:00 - 19:00</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.saturday_label }}</p>
            <p class="day-time-schedule__time">6:00 - 19:00</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.sunday_label }}</p>
            <p class="day-time-schedule__time">6:00 - 13:00</p>
          </div>
          <div style="display: flex; gap: 2rem; margin-top: 2rem; width: 100%">
            <h4 class="h4" style="margin-top: 0; margin-bottom: 0;">Indicazioni</h4>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2839.411586180852!2d10.168003076178866!3d44.62950418874244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478076d6ffabd4a7%3A0x530dbc71e3718d53!2sPanificio%20Frati%20Marzolara!5e0!3m2!1sit!2sit!4v1771445293088!5m2!1sit!2sit"
              width="405"
              height="300"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
              title="Mappa Marzolara"
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    {% comment %}--- MONTANARA ---{% endcomment %}
    <div class="store__grid grid grid--gapless grid--1-col grid--1-col-tablet grid--2-col-desktop location-container">
      <div class="store__media-item store__media-item--medium store__media-item--top grid__item">
        <div class="store__media store__media--adapt global-media-settings background-transparent">
          <img
            src="https://cdn.shopify.com/s/files/1/0709/8544/9707/files/Frati_Website_Contatti_Sedi_Montanara-02.webp?v=1762440838"
            alt="Montanara"
            width="800"
            height="500"
            loading="lazy"
          >
        </div>
      </div>
      <div class="store__text-item grid__item">
        <div class="store__content store__content--top store__content--desktop-left store__content--mobile-left store__content--adapt content-container background-transparent">
          <h3 class="store__heading inline-richtext h3">Montanara</h3>
          <h4 class="h4" style="margin: 2rem 0">Panificio</h4>
          <div style="display: flex; gap: 2rem; margin-bottom: 1rem;">
            <p style="min-width: 10rem;">{{ section.settings.address_label }}</p>
            <p>Via Raffaello Sanzio 11, Parma</p>
          </div>
          <div style="display: flex; gap: 2rem; margin-bottom: 1rem;">
            <p style="min-width: 10rem;">{{ section.settings.phone_label }}</p>
            <p>+39 0521 964013</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.monday_label }}</p>
            <p class="day-time-schedule__time">6:30 - 13:30</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.tuesday_label }}</p>
            <p class="day-time-schedule__time">6:30 - 13:30</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.wednesday_label }}</p>
            <p class="day-time-schedule__time">6:30 - 13:30</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.thursday_label }}</p>
            <p class="day-time-schedule__time">6:30 - 13:30</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.friday_label }}</p>
            <p class="day-time-schedule__time">6:30 - 13:30</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.saturday_label }}</p>
            <p class="day-time-schedule__time">6:30 - 13:30</p>
          </div>
          <div class="day-time-schedule">
            <p class="day-time-schedule__day" style="min-width: 10rem;">{{ section.settings.sunday_label }}</p>
            <p class="day-time-schedule__time">Chiuso</p>
          </div>
          <div style="display: flex; gap: 2rem; margin-top: 2rem; width: 100%">
            <h4 class="h4" style="margin-top: 0; margin-bottom: 0;">Indicazioni</h4>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d418.26208014498786!2d10.317984498567526!3d44.78267133239268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47806b11190ff881%3A0xe04cfde10619d603!2sPanificio%20Frati%20Franco!5e0!3m2!1sit!2sit!4v1771445354210!5m2!1sit!2sit"
              width="405"
              height="300"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
              title="Mappa Montanara"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Store",
  "tag": "section",
  "class": "store",

  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "text",
      "id": "address_label",
      "label": "Address Label",
      "default": "Indirizzo"
    },
    {
      "type": "text",
      "id": "phone_label",
      "label": "Phone Label",
      "default": "Telefono"
    },
    {
      "type": "text",
      "id": "monday_label",
      "label": "Monday Label",
      "default": "Monday"
    },
    {
      "type": "text",
      "id": "tuesday_label",
      "label": "Tuesday Label",
      "default": "Tuesday"
    },
    {
      "type": "text",
      "id": "wednesday_label",
      "label": "Wednesday Label",
      "default": "Wednesday"
    },
    {
      "type": "text",
      "id": "thursday_label",
      "label": "Thursday Label",
      "default": "Thursday"
    },
    {
      "type": "text",
      "id": "friday_label",
      "label": "Friday Label",
      "default": "Friday"
    },
    {
      "type": "text",
      "id": "saturday_label",
      "label": "Saturday Label",
      "default": "Saturday"
    },
    {
      "type": "text",
      "id": "sunday_label",
      "label": "Sunday Label",
      "default": "Sunday"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-with-text.settings.layout.label",
      "info": "t:sections.image-with-text.settings.layout.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "top",
      "label": "t:sections.image-with-text.settings.desktop_content_position.label"
    },

    {
      "type": "select",
      "id": "content_layout",
      "options": [
        {
          "value": "no-overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__1.label"
        },
        {
          "value": "overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__2.label"
        }
      ],
      "default": "no-overlap",
      "label": "t:sections.image-with-text.settings.content_layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.multirow.settings.container_color_scheme.label",
      "default": "scheme-1"
    },

    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Store name",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "store-type",
      "name": "Store type",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "store_type",
          "default": "Panificio, pasticceria, caffetteria, pranzi",
          "label": "Store type"
        }
      ]
    },
    {
      "type": "address",
      "name": "address",
      "settings": [
        {
          "type": "text",
          "id": "store_address",
          "default": "Strada Langhirano 379 (43124 - PR)",
          "label": "Address"
        }
      ]
    },
    {
      "type": "phone",
      "name": "phone",
      "settings": [
        {
          "type": "text",
          "id": "store_phone",
          "default": "+39 0521 1830387",
          "label": "Phone"
        }
      ]
    },

    {
      "type": "caption",
      "name": "t:sections.image-with-text.blocks.caption.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "t:sections.image-with-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.image-with-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-with-text.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "day_time-schedule",
      "name": "Time Schedule",
      "limit": 7,
      "settings": [
        {
          "type": "select",
          "id": "day",
          "options": [
            {
              "value": "Monday",
              "label": "Monday"
            },
            {
              "value": "Tuesday",
              "label": "Tuesday"
            },
            {
              "value": "Wednesday",
              "label": "Wednesday"
            },
            {
              "value": "Thursday",
              "label": "Thursday"
            },
            {
              "value": "Friday",
              "label": "Friday"
            },
            {
              "value": "Saturday",
              "label": "Saturday"
            },
            {
              "value": "Sunday",
              "label": "Sunday"
            }
          ],
          "default": "Monday",
          "label": "day"
        },
        {
          "type": "text",
          "id": "time",
          "default": "8:00 - 18:00",
          "label": "time"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.image-with-text.blocks.button.settings.outline_button.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "title": "Store"
    },
    "it": {
      "title": "Negozio"
    }
  }
}
{% endschema %}
